[Unit]
Description=Yet another ShareX server
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/yass/yass
WorkingDirectory=/yass
Restart=on-failure
RestartSec=5s
StandardOutput=journal[+console]
StandardError=journal[+console]
SyslogIdentifier=yass

[Install]
WantedBy=default.target