<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/theme.js"></script>
    <link rel="stylesheet" href="/assets/css/base.css" />
  </head>
  <body>
    <div class="container">
      <div class="file-container">
        <audio class="content" controls src="/download/{{ key }}"></audio>
        <div class="file-footer">
          <div class="file-info">
            <div class="file-name">{{ filename }}</div>
            <div class="file-size">({{ filesize }})</div>
          </div>
          <a href="/download/{{ key }}" class="download">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2"
              stroke-linecap="round"
            >
              <path
                d="M12 5v10m5-4l-4.293 4.293a1 1 0 0 1-1.414 0L7 11m12 9H5"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
